@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../fonts/Pacifico-Regular.ttf) format('truetype');
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.phan_trang {
  color: #80b435;
}

.morecontent span {
  display: none;
}
.morelink {
  display: block;
}

.d-lg-none {
  margin: 0 auto;
}

.product {
  height: 350px !important;
}

.product-image {
  height: 195px !important;
  width: auto !important;
}

.prod-img {
  width: 195px !important;
  height: auto;
  margin: 0 auto;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid #80b435;
    outline: none; /* Remove outline */
    background-color: #80b435; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    text-align: center;
}

#myBtn:hover {
    /*color: #80b435;*/
    border-radius: 30px;
}

iframe.container {
    padding: 0 !important;
}